<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gem Cat</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
</head>
<body>
  <nav>
      <div class="nav-wrapper blue-grey lighten-5">
        <ul class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-light btn blue-grey">Logout</a></li>
        </ul>
      </div>
    </nav>
    <div id="root"></div>
 {% block body %}{% endblock %}

</body>
<script type="text/javascript" src="static/dist/index_bundle.js"></script></body>
</html>
